[Desktop Entry]
Name=Terminal
Keywords=shell;prompt;command;commandline;cmd;terminal;
Exec=/usr/local/bin/terminal
Icon=utilities-terminal
Type=Application
Categories=System;TerminalEmulator;
Terminal=false
StartupWMClass=terminal
Comment=smplOS terminal
